<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="http://127.0.0.1:8000/book/contact">contact page</a>
<h2>user name is:{{name}}</h2>
<h2>user email is:{{email}}</h2>
{% if role == "admin"%}
  <h1>this is admin portal</h1>
{% endif %}


 <table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    {% for data in user_data %}
    <tr>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>

    </tr>
    {% endfor %}

 </table>
</body>
</html>



</body>
</html>